@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020617;

  --font-public-sans: "Public Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-public-sans);
}

.font-public-sans {
  font-family: var(--font-public-sans);
}

.font-inter {
  font-family: var(--font-inter);
}
